/* Add styling for your page here */

.App {
  display: flex;
}

.App h1 {
  padding-left: 10px;
}

.menu {
  display: flex;
  flex-flow: wrap;
  width: 85rem;
}

.StoreItem {
background-color: #e3e3cb;
width: 20rem;
margin: 10px;
border-radius: 15px;
}

.img {
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0;
  margin: 0;
}

.cart {
  width: 100%;
  background-color: #D8B238;
}

.info {
  padding-left: 10px;
  padding-right: 10px;
}

