/* Add styling for your page here */

.App {
  display: flex;
}

.menu {
  display: flex;
  flex-flow: wrap;
  width: 75%;
}

.BakeryItem {
background-color: rgb(213, 213, 213);
width: 30%;
margin: 10px;
border-radius: 15px;
}

.img {
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0;
  margin: 0;
}

.cart {
  width: 200%;
  background-color: #d4af37;
}

.info {
  padding: 10px;
  padding-top: 0;
}
